#search
{
    float: right;
}
h1
{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}
div
{
    margin-top: 15px;
    padding: 10px;
}
#carousel
{
    padding: 10px;
 }
.panel-body
{
    display: inline;
}
.card
{
    width: 13rem;
    height: 25rem;
    margin-left: 15px;
    
}